# Required Waggle Python modules
waggle @ https://github.com/waggle-sensor/pywaggle/releases/download/0.46.0/waggle-0.46.0-py3-none-any.whl

# Custom Python modules. Please add your requirements below.
numpy
